#root {
  max-width: 95%;
  margin: 0 auto;
  padding-top: 2rem;
}

.App {
  display: grid;
  gap: 1rem;
}

@media (min-width: 992px) {
  .App {
    grid-template-columns: 1fr 1fr;
  }
}

.heading {
  text-align: center;
  color: #1d2f2f;
  background-color: #4aa3a3;
  padding: 0.3rem;
  border: 1px solid #1d2f2f;
  box-shadow: 1px 1px 10px 2px #3a5f5f;
  margin: 0;
}

#editor,
#preview {
    padding: 16px;
    font-size: 1rem;
    background-color: #c0d8d8;
    border: 1px solid #1d2f2f;
    box-shadow: 1px 1px 10px 2px #3a5f5f;
    border-top: none;
    color: #1d2f2f;
}

#editor {
  min-height: 400px;
  resize: vertical;
  width: 100%;
}

@media (min-width: 992px) {
  #editor {
    min-height: calc(100% - 47px);
  }
}

img {
  max-width: 100%;
}